{% extends 'Accounts/main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'Members/css/enquiryadd.css' %}">
{% endblock %}

{% block content %}
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Member Form</h3>
              <form method="post" action="">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 mb-4">
    
                      <div class="form-outline">
                        {{form.name}}
                        <label class="form-label" for="{{form.name.id_for_label}}">Name</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
    
                      <div class="form-outline datepicker w-100">
                        {{form.birthday}}
                        <label class="form-label" for="{{form.birthday.id_for_label}}">Birthday</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
    
                      <h6 class="mb-2 pb-1">Gender: </h6>
    
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderRadio" id="femaleGender"
                          value="Female" />
                        <label class="form-check-label" for="maleGender">Female</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderRadio" id="maleGender"
                          value="Male" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        {{form.location}}
                        <label class="form-label" for="{{form.location.id_for_label}}">Location</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        {{form.mobile}}
                        <label class="form-label" for="{{form.mobile.id_for_label}}">Phone Number</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <h6 class="mb-2 pb-1">Is Enquiry: </h6>
    
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="enquiryRadio" id="enquiry-yes"
                          value="Yes" />
                        <label class="form-check-label" for="enquiry-yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="enquiryRadio" id="enquiry-no"
                          value="No" />
                        <label class="form-check-label" for="enquiry-no">No</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <h6 class="mb-2 pb-1"><label class="form-label" for="{{form.enquiry.id_for_label}}"> Enquiry :</label></h6>
                      <div class="form-outline">
                        {{form.enquiry}}
                      </div>
    
                    </div>
                  </div>
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block script %}

{% endblock %}

