<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container list-group mt-5">
        <div class="">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Enquired for the Diet Plan</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Omkar Kumbhar.</p>
                <small>Routine.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Shardul Bhosale</h5>
                    <small class="text-muted">5 days ago</small>
                </div>
                <p class="mb-1">Enquired about the Plans.</p>
                <small class="text-muted">Plans for 3 months.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pruthviraj Patankar</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Enquired About Personal Trainer.</p>
                <small class="text-muted">Asked about the charges and time.</small>
            </a>
            <a href="./new enquiry.html">
                <div class="container mt-3 ">
                    <button type="button" id="submit" name="submit" class="btn btn-primary">Add New Enquiry</button>
                </div>
            </a>
        </div>
    </div>
    <!-- Enquiry Entries Start -->

    <script src="" async defer></script>
</body>

</html>